<div id='actions_list'>
    <div id='actions_list_next'>
    <% if @project.next_action -%>
        <b>next action:</b>
        <%= link_to h(@project.next_action.name), @project.next_action %>
    <% end -%>
    </div>

    <% unless @project.more_actions.empty? -%>
    <%= link_to_function "(and #{@project.more_actions.length} more)", "$('actions_list_more').toggleClassName('no_display');"  %>
    <div id='actions_list_more' class='no_display'>
        <% @project.more_actions.each do |action| -%>
            <%= link_to h(action.name), action %><br/>
        <% end -%>
    </div>
    <% end -%>
</div>
